
#para1 { color: rgb(255, 255, 255); }  
#para2 { color: rgb(0, 0, 0); }       
#para3 { color: rgb(255, 0, 0); }      
#para4 { color: rgb(0, 128, 0); }      
#para5 { color: rgb(0, 0, 255); }     
#para6 { color: rgb(255, 255, 0); }    
#para7 { color: rgb(0, 255, 255); }   
#para8 { color: rgb(128, 0, 128); }  
#para9 { color: rgb(255, 165, 0); }    
#para10 { color: rgb(75, 0, 130); }    
#para11 { color: rgb(139, 69, 19); }   
#para12 { color: rgb(255, 20, 147); } 
#para13 { color: rgb(192, 192, 192); }
