/* დეკლარაცია (Declaration): წყვილი კუთვნილება: მნიშვნელობა; (მაგ., color: red;).
კუთვნილება (Property): CSS-ის მახასიათებელი, მაგ., color, font-size.
მნიშვნელობა (Value): კუთვნილების მნიშვნელობა, მაგ., red, 16px.
CSS Rule: მთლიანი წესის სტრუქტურა, რომელიც შეიცავს selector-სა და დეკლარაციებს.*/

p {
  color: blue;
  font-size: 16px;
}




/* Selector: ის რაც ირჩევს HTML ელემენტს (მაგ., p, #id, .class).
CSS Inheritance: მემკვიდრეობითობა – ზოგიერთი თვისება (მაგ. color, font-family) გადაეცემა შვილ ელემენტებს.
Descendant Selector: მშობლის შიგნით არსებული კონკრეტული ელემენტის სტილის განსაზღვრა. */

div p {
    color: green;
  }
  